Repository ImpulsoGov/etl: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, pycln, isort, black, flake8, python-safety-dependencies-check, mypy, pytest, pytest-cov

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  language: system
  entry: poetry run pyupgrade
  minimum_pre_commit_version: 0.15.0

pycln:
  name: pycln
  description: A formatter for finding and removing unused import statements.
  language: system
  entry: poetry run pycln

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: poetry run isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: poetry run black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: poetry run flake8

python-safety-dependencies-check:
  name: safety
  description: Run safety on project packages.
  entry: bash -c 'poetry export -f requirements.txt | poetry run safety check --stdin'
  pass_filenames: false
  language: system

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: poetry run mypy
  require_serial: true

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: poetry run pytest
  pass_filenames: false
  args:
  - --testmon

pytest-cov:
  name: pytest
  stages:
  - push
  language: system
  entry: poetry run pytest --cov --cov-fail-under=70
  pass_filenames: false

style(impulsoetl): :art: Aplica formatadores pyupgrade, pycln, isort e black.
  src/impulsoetl/scripts/impulso_previne.py
  src/impulsoetl/sisab/relatorio_validacao_ficha_aplicacao_producao/funcoes.py
  src/impulsoetl/sisab/relatorio_validacao_ficha_aplicacao_producao/suporte_extracao.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

style(impulsoetl): :rotating_light: Corrige problemas menores de formatação.
  src/impulsoetl/scripts/impulso_previne.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

refactor(impulsoetl): :label: Adiciona anotações de tipos faltantes.
  src/impulsoetl/sisab/relatorio_validacao_ficha_aplicacao_producao/funcoes.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

docs(impulsoetl): :memo: Corrige e completa docstrings.
  src/impulsoetl/sisab/relatorio_validacao_ficha_aplicacao_producao/funcoes.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

refactor(impulsoetl): :fire: Remove mensagens não utilizadas nos testes de validação dos dados.
  src/impulsoetl/sisab/relatorio_validacao_ficha_aplicacao_producao/funcoes.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

docs: :memo: Corrige marcação de link.
  README.md
Due: none

docs: :memo: Corrige caminho de link de diretório.
  README.md
Due: none

Update impulsoetl-rodar.yml
  .github/workflows/impulsoetl-rodar.yml
Due: none

Update impulsoetl-publicar.yml
  .github/workflows/impulsoetl-publicar.yml
Due: none

Correções na requisição do Sisab
  src/impulsoetl/sisab/cadastros_individuais/extracao.py
  src/impulsoetl/sisab/cadastros_individuais/principal.py
  src/impulsoetl/sisab/indicadores_municipios/extracao.py
  src/impulsoetl/sisab/indicadores_municipios/principal.py
  src/impulsoetl/sisab/parametros_cadastro/extracao.py
  src/impulsoetl/sisab/parametros_cadastro/principal.py
  src/impulsoetl/sisab/parametros_requisicao.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

fix(impulsoetl): :bug: Adiciona novo cookie e limite de tempo nas requisições ao SISAB
  src/impulsoetl/sisab/cadastros_individuais/extracao.py
  src/impulsoetl/sisab/cadastros_individuais/principal.py
  src/impulsoetl/sisab/indicadores_municipios/extracao.py
  src/impulsoetl/sisab/indicadores_municipios/principal.py
  src/impulsoetl/sisab/parametros_cadastro/extracao.py
  src/impulsoetl/sisab/parametros_cadastro/principal.py
  src/impulsoetl/sisab/parametros_requisicao.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

fix(impulsoetl): :bug: Corrige problema de permissão no acesso aos drivers do Selenium.
  src/impulsoetl/navegadores.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

fix(impulsoetl): :bug: Corrige problema de permissão no acesso aos drivers do Selenium. (#19)
  src/impulsoetl/navegadores.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

corrige erro de cookies
  src/impulsoetl/sisab/parametros_requisicao.py
  src/impulsoetl/sisab/relatorio_validacao/funcoes.py
  src/impulsoetl/sisab/relatorio_validacao_ficha_aplicacao_producao/funcoes.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

bug(impulsoetl): :bug: Altera cookie em requisição ao SISAB
  src/impulsoetl/sisab/parametros_requisicao.py
  src/impulsoetl/sisab/relatorio_validacao/funcoes.py
  src/impulsoetl/sisab/relatorio_validacao_ficha_aplicacao_producao/funcoes.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

perf(impulsoetl): :card_file_box: Altera o algoritmo de geração de UUIDs (v4 para v7)
  pyproject.toml
  src/impulsoetl/cnes/vinculos.py
  src/impulsoetl/siasus/bpa_i.py
  src/impulsoetl/siasus/procedimentos.py
  src/impulsoetl/siasus/raas_ps.py
  src/impulsoetl/sihsus/aih_rd.py
  src/impulsoetl/sisab/cadastros_individuais/tratamento.py
  src/impulsoetl/sisab/parametros_cadastro/tratamento.py
  src/impulsoetl/sisab/producao.py
  src/impulsoetl/sisab/relatorio_validacao/funcoes.py
  src/impulsoprevine/historico/periodos.py
  src/impulsoprevine/scripts/cadastros_individuais.py
  src/impulsoprevine/scripts/futuro/componente_pagamento_desempenho_resultados.py
  src/impulsoprevine/scripts/futuro/equipes_quantidade_resultados.py
  src/impulsoprevine/scripts/futuro/pagamento_desempenho_resultados.py
  src/impulsoprevine/scripts/futuro/visualizacao_indicadores.py
  src/impulsoprevine/scripts/indicadores_resultados.py
  src/impulsoprevine/scripts/indicadores_score.py
  src/impulsoprevine/scripts/isf_resultados.py
Due: pyupgrade, pycln, isort, black, flake8, python-safety-dependencies-check, mypy, pytest, pytest-cov

build: :heavy_plus_sign: Ajusta dependências para acrescentar a biblioteca `uuid6`.
  pyproject.toml
Due: python-safety-dependencies-check

feat(impulsoetl): :card_file_box: Adiciona colunas com data de criação e atualização de tabelas.
  src/impulsoetl/cnes/vinculos.py
  src/impulsoetl/siasus/bpa_i.py
  src/impulsoetl/siasus/procedimentos.py
  src/impulsoetl/siasus/raas_ps.py
  src/impulsoetl/sihsus/aih_rd.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

refactor(impulsoetl): :truck: Renomeia recursos relativos ao CNES para SCNES.
  .reuse/dep5
  src/impulsoetl/scnes/modelos.py
  src/impulsoetl/scnes/vinculos.py
  src/impulsoetl/scripts/geral.py
  tests/scnes/CNES_PFSE2111_.parquet
  tests/scnes/teste_vinculos.py
  tests/scnes/vinculos_transformado.parquet
  tests/scripts/teste_geral.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

refactor(impulsoetl): :card_file_box: Renomeia colunas (WIP)
  src/impulsoetl/scnes/vinculos.py
  src/impulsoetl/siasus/bpa_i.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

refactor(impulsoetl)!: :card_file_box: Renomeia colunas
  src/impulsoetl/scnes/vinculos.py
  src/impulsoetl/siasus/bpa_i.py
  src/impulsoetl/siasus/procedimentos.py
  src/impulsoetl/siasus/raas_ps.py
  src/impulsoetl/sihsus/aih_rd.py
  tests/scnes/teste_vinculos.py
  tests/scnes/vinculos_transformado.parquet
  tests/siasus/bpa_i_transformada.parquet
  tests/siasus/pa_transformada.parquet
  tests/siasus/raas_ps_transformada.parquet
  tests/siasus/teste_bpa_i.py
  tests/siasus/teste_procedimentos.py
  tests/siasus/teste_raas_ps.py
  tests/sihsus/aih_rd_transformada.parquet
  tests/sihsus/teste_aih_rd.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

Atualizações no ETL de Indicadores
  src/impulsoetl/sisab/indicadores_municipios/extracao.py
  src/impulsoetl/sisab/indicadores_municipios/log.py
  src/impulsoetl/sisab/indicadores_municipios/principal.py
  src/impulsoetl/sisab/indicadores_municipios/teste_validacao.py
  src/impulsoetl/sisab/indicadores_municipios/tratamento.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

Inclui operação de exceção
  src/impulsoetl/sisab/indicadores_municipios/principal.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

Inclui cabeçalho e timeout no etl de validacao
  src/impulsoetl/sisab/indicadores_municipios/extracao.py
  src/impulsoetl/sisab/indicadores_municipios/log.py
  src/impulsoetl/sisab/indicadores_municipios/principal.py
  src/impulsoetl/sisab/relatorio_validacao/suporte_extracao.py
  src/impulsoetl/sisab/relatorio_validacao_ficha_aplicacao_producao/suporte_extracao.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

fix(impulsoetl): :page_facing_up: Adiciona informações da licença de uso.
  .reuse/dep5
  src/impulsoetl/sisab/cadastros_individuais/carregamento.py
  src/impulsoetl/sisab/cadastros_individuais/principal.py
  src/impulsoetl/sisab/cadastros_individuais/teste_validacao.py
  src/impulsoetl/sisab/parametros_cadastro/extracao.py
  src/impulsoetl/sisab/parametros_cadastro/principal.py
  src/impulsoetl/sisab/parametros_cadastro/teste_validacao.py
  src/impulsoetl/sisab/parametros_cadastro/tratamento.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

fix(impulsoetl): :rotating_light: Corrige ordem e formato das importações.
  src/impulsoetl/scripts/impulso_previne.py
  src/impulsoetl/scripts/saude_mental.py
  src/impulsoetl/sisab/cadastros_individuais/__init__.py
  src/impulsoetl/sisab/cadastros_individuais/carregamento.py
  src/impulsoetl/sisab/cadastros_individuais/extracao.py
  src/impulsoetl/sisab/cadastros_individuais/principal.py
  src/impulsoetl/sisab/cadastros_individuais/tratamento.py
  src/impulsoetl/sisab/parametros_cadastro/__init__.py
  src/impulsoetl/sisab/parametros_cadastro/carregamento.py
  src/impulsoetl/sisab/parametros_cadastro/extracao.py
  src/impulsoetl/sisab/parametros_cadastro/principal.py
  src/impulsoetl/sisab/parametros_cadastro/teste_validacao.py
  src/impulsoetl/sisab/parametros_cadastro/tratamento.py
  src/impulsoetl/sisab/parametros_requisicao.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

style(impulsoetl): :rotating_light: Aplica correções de formato automáticas com black
  src/impulsoetl/sisab/__init__.py
  src/impulsoetl/sisab/cadastros_individuais/carregamento.py
  src/impulsoetl/sisab/cadastros_individuais/extracao.py
  src/impulsoetl/sisab/cadastros_individuais/modelos.py
  src/impulsoetl/sisab/cadastros_individuais/principal.py
  src/impulsoetl/sisab/cadastros_individuais/teste_validacao.py
  src/impulsoetl/sisab/cadastros_individuais/tratamento.py
  src/impulsoetl/sisab/comum.py
  src/impulsoetl/sisab/parametros_cadastro/extracao.py
  src/impulsoetl/sisab/parametros_cadastro/principal.py
  src/impulsoetl/sisab/parametros_cadastro/teste_validacao.py
  src/impulsoetl/sisab/parametros_cadastro/tratamento.py
  src/impulsoetl/sisab/parametros_requisicao.py
  src/impulsoetl/sisab/producao.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

style(impulsoetl): :art: Implementa convenções e melhora estilo e estrutura na verificação de qualidade de dados
  src/impulsoetl/sisab/cadastros_individuais/principal.py
  src/impulsoetl/sisab/cadastros_individuais/teste_validacao.py
  src/impulsoetl/sisab/cadastros_individuais/verificacao.py
  src/impulsoetl/sisab/indicadores_municipios/principal.py
  src/impulsoetl/sisab/indicadores_municipios/teste_validacao.py
  src/impulsoetl/sisab/indicadores_municipios/verificacao.py
  src/impulsoetl/sisab/parametros_cadastro/principal.py
  src/impulsoetl/sisab/parametros_cadastro/teste_validacao.py
  src/impulsoetl/sisab/parametros_cadastro/verificacao.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

style(impulsoetl): :art: Várias pequenas correções de estilo e tipagem.
  src/impulsoetl/sisab/cadastros_individuais/carregamento.py
  src/impulsoetl/sisab/cadastros_individuais/extracao.py
  src/impulsoetl/sisab/cadastros_individuais/principal.py
  src/impulsoetl/sisab/cadastros_individuais/tratamento.py
  src/impulsoetl/sisab/parametros_cadastro/principal.py
  src/impulsoetl/sisab/parametros_cadastro/tratamento.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

refactor(impulsoetl): :art: Implementa boas práticas do Guia de Diretrizes do Banco de Dados (#21)
  .reuse/dep5
  pyproject.toml
  src/impulsoetl/scnes/modelos.py
  src/impulsoetl/scnes/vinculos.py
  src/impulsoetl/scripts/geral.py
  src/impulsoetl/siasus/bpa_i.py
  src/impulsoetl/siasus/procedimentos.py
  src/impulsoetl/siasus/raas_ps.py
  src/impulsoetl/sihsus/aih_rd.py
  src/impulsoetl/sisab/cadastros_individuais/tratamento.py
  src/impulsoetl/sisab/producao.py
  src/impulsoetl/sisab/relatorio_validacao/funcoes.py
  src/impulsoprevine/historico/periodos.py
  src/impulsoprevine/scripts/cadastros_individuais.py
  src/impulsoprevine/scripts/futuro/componente_pagamento_desempenho_resultados.py
  src/impulsoprevine/scripts/futuro/equipes_quantidade_resultados.py
  src/impulsoprevine/scripts/futuro/pagamento_desempenho_resultados.py
  src/impulsoprevine/scripts/futuro/visualizacao_indicadores.py
  src/impulsoprevine/scripts/indicadores_resultados.py
  src/impulsoprevine/scripts/indicadores_score.py
  src/impulsoprevine/scripts/isf_resultados.py
  tests/cnes/vinculos_transformado.parquet
  tests/scnes/CNES_PFSE2111_.parquet
  tests/scnes/teste_vinculos.py
  tests/scnes/vinculos_transformado.parquet
  tests/scripts/teste_geral.py
  tests/siasus/bpa_i_transformada.parquet
  tests/siasus/pa_transformada.parquet
  tests/siasus/raas_ps_transformada.parquet
  tests/siasus/teste_bpa_i.py
  tests/siasus/teste_procedimentos.py
  tests/siasus/teste_raas_ps.py
  tests/sihsus/aih_rd_transformada.parquet
  tests/sihsus/teste_aih_rd.py
Due: pyupgrade, pycln, isort, black, flake8, python-safety-dependencies-check, mypy, pytest, pytest-cov

ci(impulsoprevine): :fire: Remove fluxos do GitHub Actions relacionados ao impulsoprevine
  .github/workflows/impulsoprevine-publicar.yml
  .github/workflows/impulsoprevine-rodar.yml
Due: none

build(impulsoprevine): :fire: Remove Dockerfile e ponto de entrada no impulsoprevine
  Dockerfile
  src/impulsoprevine/entrypoint.sh
Due: none

refactor(impulsoprevine):
  src/impulsoprevine/historico/periodos.py
  src/impulsoprevine/scripts/auxiliares/bancodedados.py
  src/impulsoprevine/scripts/auxiliares/logging.py
  src/impulsoprevine/scripts/auxiliares/utilitario.py
  src/impulsoprevine/scripts/cadastros_individuais.py
  src/impulsoprevine/scripts/futuro/componente_pagamento_desempenho_resultados.py
  src/impulsoprevine/scripts/futuro/equipes_quantidade_resultados.py
  src/impulsoprevine/scripts/futuro/pagamento_desempenho_resultados.py
  src/impulsoprevine/scripts/futuro/visualizacao_indicadores.py
  src/impulsoprevine/scripts/indicadores_historico.py
  src/impulsoprevine/scripts/indicadores_resultados.py
  src/impulsoprevine/scripts/indicadores_score.py
  src/impulsoprevine/scripts/isf_resultados.py
  src/impulsoprevine/test.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

build(impulsoprevine): :heavy_minus_sign: Remove dependências do subpacote impulsoprevine
  pyproject.toml
  requirements.txt
  src/impulsoprevine/requirements.txt
Due: python-safety-dependencies-check

docs: :memo: Remove menções ao subpacote impulsoprevine do README.md
  README.md
Due: none

build(impulsoetl): :truck: Renomeia `impulsoetl.Dockerfile` para `Dockerfile`
  .github/workflows/impulsoetl-publicar.yml
  Dockerfile
  README.md
Due: none

ci(impulsoetl): :construction_worker: Adianta a execução dos ETLs para às 4 a.m (UTC+0).
  .github/workflows/impulsoetl-rodar.yml
Due: none

fix(impulsoetl): :ambulance: Remove trecho de resolução de conflitos mantido por engano.
  src/impulsoetl/sisab/parametros_cadastro/__init__.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

fix(impulsoetl): :ambulance: Corrige importação com caminho incompleto.
  src/impulsoetl/sisab/cadastros_individuais/carregamento.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

fix(impulsoetl): :rotating_light: Corrige múltiplos problemas de estilo e consistência.
  pyproject.toml
  setup.cfg
  src/impulsoetl/bd.py
  src/impulsoetl/comum/datas.py
  src/impulsoetl/scripts/geral.py
  src/impulsoetl/sisab/cadastros_individuais/__init__.py
  src/impulsoetl/sisab/cadastros_individuais/extracao.py
  src/impulsoetl/sisab/cadastros_individuais/principal.py
  src/impulsoetl/sisab/cadastros_individuais/tratamento.py
  src/impulsoetl/sisab/cadastros_individuais/verificacao.py
  src/impulsoetl/sisab/indicadores_municipios/carregamento.py
  src/impulsoetl/sisab/indicadores_municipios/extracao.py
  src/impulsoetl/sisab/indicadores_municipios/principal.py
  src/impulsoetl/sisab/indicadores_municipios/tratamento.py
  src/impulsoetl/sisab/indicadores_municipios/verificacao.py
  src/impulsoetl/sisab/parametros_cadastro/__init__.py
  src/impulsoetl/sisab/parametros_cadastro/extracao.py
  src/impulsoetl/sisab/parametros_requisicao.py
  src/impulsoetl/sisab/relatorio_validacao/funcoes.py
  src/impulsoetl/sisab/relatorio_validacao/suporte_extracao.py
  src/impulsoetl/sisab/relatorio_validacao_ficha_aplicacao_producao/funcoes.py
  src/impulsoetl/sisab/relatorio_validacao_ficha_aplicacao_producao/suporte_extracao.py
  src/impulsoetl/utilitarios/datasus_ftp.py
Due: pyupgrade, pycln, isort, black, flake8, python-safety-dependencies-check, mypy, pytest, pytest-cov

Path conditions:
  pyupgrade: any of: \.py$, but not: LICENSES|CODE_OF_CONDUCT
  pycln: any of: \.py$ and not (\.venv) and not (LICENSES|CODE_OF_CONDUCT)
  isort: any of: \.py$, but not: LICENSES|CODE_OF_CONDUCT
  black: any of: \.py$, but not: LICENSES|CODE_OF_CONDUCT
  flake8: any of: \.py$ and not (setup.py) and not (LICENSES|CODE_OF_CONDUCT)
  python-safety-dependencies-check: any of: requirements|poetry\.lock|pyproject, but not: LICENSES|CODE_OF_CONDUCT
  mypy: any of: \.py$, but not: LICENSES|CODE_OF_CONDUCT
  pytest: any of: \.py$, but not: LICENSES|CODE_OF_CONDUCT
  pytest-cov: any of: \.py$, but not: LICENSES|CODE_OF_CONDUCT
