Repository ImpulsoGov/etl: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, pycln, isort, black, flake8, python-safety-dependencies-check, mypy, pytest, pytest-cov

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  language: system
  entry: poetry run pyupgrade
  minimum_pre_commit_version: 0.15.0

pycln:
  name: pycln
  description: A formatter for finding and removing unused import statements.
  language: system
  entry: poetry run pycln

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: poetry run isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: poetry run black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: poetry run flake8

python-safety-dependencies-check:
  name: safety
  description: Run safety on project packages.
  entry: bash -c 'poetry export -f requirements.txt | poetry run safety check --stdin'
  pass_filenames: false
  language: system

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: poetry run mypy
  require_serial: true

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: poetry run pytest
  pass_filenames: false
  args:
  - --testmon

pytest-cov:
  name: pytest
  stages:
  - push
  language: system
  entry: poetry run pytest --cov --cov-fail-under=70
  pass_filenames: false

criaçao teste
  src/impulsoetl/egestor/teste.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

imprimir hello
  src/impulsoetl/egestor/teste.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

Módulos de tratamento e carregamento do ETL
  src/impulsoetl/egestor/__init__.py
  src/impulsoetl/egestor/relatorio_financiamento/__init__.py
  src/impulsoetl/egestor/relatorio_financiamento/carregamento.py
  src/impulsoetl/egestor/relatorio_financiamento/principal.py
  src/impulsoetl/egestor/relatorio_financiamento/tratamento.py
  src/impulsoetl/egestor/relatorio_financiamento/verificacao.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

fix(sinan): :bug: Corrige captura de agravos de violência em arquivos preliminares.
  src/impulsoetl/sinan/violencia.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

fix(sinan): :bug: Corrige importação de agravos de violência de 2018 e 2019
  src/impulsoetl/sinan/violencia.py
  src/impulsoetl/utilitarios/datasus_ftp.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

chore: Reabilita capturas geral e de saúde mental
  src/impulsoetl/principal.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

fix(impulsoetl): :construction_worker: Corrige problemas de versões em dependências
  Dockerfile
Due: none

style(impulsoetl): :art: Aplica formatadores isort e black.
  src/impulsoetl/utilitarios/datasus_ftp.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

feat(sinan): Adiciona ETL de notificações agravos de violências (#45)
  .reuse/dep5
  .vscode/settings.json
  src/impulsoetl/scripts/saude_mental.py
  src/impulsoetl/sinan/violencia.py
  src/impulsoetl/utilitarios/datasus_ftp.py
  tests/scripts/teste_saude_mental.py
  tests/sinan/SINAN_VIOLBR09_.parquet
  tests/sinan/SINAN_VIOLBR19_.parquet
  tests/sinan/teste_violencia.py
  tests/sinan/violbr09_transformada.parquet
  tests/sinan/violbr19_transformada.parquet
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

Teste preliminar de extração usando Selenium
  src/impulsoetl/egestor/relatorio_financiamento/teste_extracao.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

fix(scnes): :ambulance: Remove colunas inexistentes na tabela.
  src/impulsoetl/scnes/vinculos.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

Função de extração preliminar
  src/impulsoetl/egestor/relatorio_financiamento/teste_extracao.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

Correção do click no botão download
  src/impulsoetl/egestor/relatorio_financiamento/teste_extracao.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

Atualização na função de extração
  src/impulsoetl/egestor/relatorio_financiamento/teste_extracao.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

Renomeia o arquivo baixado
  src/impulsoetl/egestor/relatorio_financiamento/extracao.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

Checa e transforma o tipo de dado de cada coluna
  src/impulsoetl/egestor/relatorio_financiamento/tratamento.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

Atualiza os dicionarios de agentamento
  src/impulsoetl/egestor/relatorio_financiamento/principal.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

Inclui colunas nos dicios de tratamento de colunas
  src/impulsoetl/egestor/relatorio_financiamento/tratamento.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

Espera e verifica se o download foi concluído
  src/impulsoetl/egestor/relatorio_financiamento/extracao.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

Exclui arquivos de teste
  src/impulsoetl/egestor/relatorio_financiamento/teste_extracao.py
  src/impulsoetl/egestor/teste.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

chore(prefect): :heavy_plus_sign: Adicionar prefect como dependência
  .vscode/settings.json
  poetry.lock
  pyproject.toml
Due: python-safety-dependencies-check

feat(prefect): :sparkles: Introduz lógica de implementação dos fluxos do prefect
  .env.sample
  implementar_fluxos.py
  src/impulsoetl/__init__.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

build(prefect): :construction_worker: Adapta imagem Docker ao prefect
  .dockerignore
  Dockerfile
  entrypoint.sh
Due: none

ci(prefect): :construction_worker: Publica imagem Docker para uso com prefect
  .github/workflows/impulsoetl-publicar.yml
Due: none

perf(impulsoetl): :zap: Evita instalação duplicada de drivers de navegação
  src/impulsoetl/navegadores.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

chore(impulsoetl): Adiciona arquivo `__init__.py`
  src/impulsoetl/scripts/__init__.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

chore(prefect): :wrench: Adiciona serviços e executáveis para iniciar prefect em uma VM
  etc/agent-start.sh
  etc/orion-start.sh
  etc/orion.service
  etc/prefect-agent.service
Due: none

chore(prefect): :bulb: Esclarece orientação sobre URL da API do prefect
  .env.sample
Due: none

fix(sia): :adhesive_bandage: Inclui `desfecho_data` como coluna com formato AAAAMMDD
  src/impulsoetl/siasus/raas_ps.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

fix(sia): :adhesive_bandage: Inclui `desfecho_data` como coluna com formato AAAAMMDD (#46)
  src/impulsoetl/siasus/raas_ps.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

chore(prefect): :wrench: Adiciona configurações do Nginx p/ uso com Prefect
  etc/nginx.conf
Due: none

Refatoração da função extracao WIP
  src/impulsoetl/egestor/relatorio_financiamento/extracao.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

Inclusão de função do ETL egestor WIP
  src/impulsoetl/scripts/impulso_previne.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

Exclusão da parte de teste da função principal
  src/impulsoetl/egestor/relatorio_financiamento/principal.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

fix(impulsoetl): :bug: Corrige erro na conversão de ID impulso em ID SUS
  src/impulsoetl/comum/geografias.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

fix(impulsoetl): :bug: Corrige erro na conversão de ID impulso em ID SUS (#47)
  src/impulsoetl/comum/geografias.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

Inclusão de breakpoint para debugar o download WIP
  src/impulsoetl/egestor/relatorio_financiamento/extracao.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

chore(impulsoetl): :arrow_up: Atualiza pytest, cryptography e dependências em geral
  poetry.lock
  pyproject.toml
Due: python-safety-dependencies-check

fix(impulsoetl): :bug: Remove typo na definição de versão do cryptography
  pyproject.toml
Due: python-safety-dependencies-check

Path conditions:
  pyupgrade: any of: \.py$, but not: LICENSES|CODE_OF_CONDUCT
  pycln: any of: \.py$ and not (\.venv) and not (LICENSES|CODE_OF_CONDUCT)
  isort: any of: \.py$, but not: LICENSES|CODE_OF_CONDUCT
  black: any of: \.py$, but not: LICENSES|CODE_OF_CONDUCT
  flake8: any of: \.py$ and not (setup.py) and not (LICENSES|CODE_OF_CONDUCT)
  python-safety-dependencies-check: any of: requirements|poetry\.lock|pyproject, but not: LICENSES|CODE_OF_CONDUCT
  mypy: any of: \.py$, but not: LICENSES|CODE_OF_CONDUCT
  pytest: any of: \.py$, but not: LICENSES|CODE_OF_CONDUCT
  pytest-cov: any of: \.py$, but not: LICENSES|CODE_OF_CONDUCT
