Repository ImpulsoGov/etl: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, pycln, isort, black, flake8, python-safety-dependencies-check, mypy, pytest, pytest-cov

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: 2021, 2022 ImpulsoGov <contato@impulsogov.org>
#
# SPDX-License-Identifier: MIT


# See https://pre-commit.com/ for usage and config
exclude: 'LICENSES|CODE_OF_CONDUCT'
repos:
- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v5.0.0
  hooks:
  - id: commitlint
    stages: [commit-msg]
    additional_dependencies: ['@commitlint/config-conventional']
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-added-large-files
    args: ['--maxkb=100000']
  - id: check-case-conflict
  - id: check-json
  - id: check-shebang-scripts-are-executable
  - id: check-symlinks
  - id: check-toml
  - id: check-xml
  - id: check-yaml
  - id: destroyed-symlinks
  - id: end-of-file-fixer
  - id: fix-byte-order-marker
  - id: fix-encoding-pragma
    args: ['--remove']
  - id: mixed-line-ending
  - id: no-commit-to-branch
    args: [
      '-b dev',
      '-b devel',
      '-b main',
      '-b master',
      '-b prod',
      '-b production',
      '-b stable',
      '-b staging',
    ]
    stages: [commit]
  - id: pretty-format-json
    args: ['--autofix', '--no-ensure-ascii', '--no-sort-keys']
  - id: requirements-txt-fixer
    files: '^requirements.*txt$'
  - id: trailing-whitespace
    args: ['--markdown-linebreak-ext=md']
- repo: local
  hooks:
  - id: reuse
    name: reuse
    description:
      "Lint the project directory for compliance with the REUSE Specification"
    language: system
    entry: poetry run reuse lint
    pass_filenames: false
  - id: pyupgrade
    name: pyupgrade
    description: Automatically upgrade syntax for newer versions.
    language: system
    entry: poetry run pyupgrade
    types: [python]
    # for backward compatibility
    files: ''
    minimum_pre_commit_version: 0.15.0
  - id: pycln
    name: pycln
    description:
      "A formatter for finding and removing unused import statements."
    language: system
    entry: poetry run pycln
    types: [python]
    exclude: \.venv
  - id: isort
    name: isort
    stages: [commit]
    language: system
    entry: poetry run isort
    types: [python]
  - id: black
    name: black
    stages: [commit]
    language: system
    entry: poetry run black
    types: [python]
  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry: poetry run flake8
    types: [python]
    exclude: setup.py
  - id: python-safety-dependencies-check
    name: safety
    description: "Run safety on project packages."
    entry: bash -c 'poetry export -f requirements.txt | poetry run safety check --stdin'
    pass_filenames: false
    language: system
    files: 'requirements|poetry\.lock|pyproject'
  - id: mypy
    name: mypy
    stages: [commit]
    language: system
    entry: poetry run mypy
    types: [python]
    require_serial: true
  - id: pytest
    name: pytest
    stages: [commit]
    language: system
    entry: poetry run pytest
    types: [python]
    pass_filenames: false
    args: ['--testmon']
  - id: pytest-cov
    name: pytest
    stages: [push]
    language: system
    entry: poetry run pytest --cov --cov-fail-under=70
    types: [python]
    pass_filenames: false

refactor(egestor): :loud_sound: Adiciona logs
  src/impulsoetl/egestor/relatorio_financiamento/extracao.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

chore(egestor):
  .vscode/settings.json
Due: none

feat(sinan): Adiciona ETL de notificações agravos de violências (#45)
  .reuse/dep5
  src/impulsoetl/scripts/saude_mental.py
  src/impulsoetl/sinan/violencia.py
  src/impulsoetl/utilitarios/datasus_ftp.py
  tests/scripts/teste_saude_mental.py
  tests/sinan/SINAN_VIOLBR09_.parquet
  tests/sinan/SINAN_VIOLBR19_.parquet
  tests/sinan/teste_violencia.py
  tests/sinan/violbr09_transformada.parquet
  tests/sinan/violbr19_transformada.parquet
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

chore(egestor): :heavy_plus_sign: Adiciona `lxml` como dependência
  poetry.lock
  pyproject.toml
Due: python-safety-dependencies-check

fix(impulsoetl): :bug: Remove typo na definição de versão do cryptography
  pyproject.toml
Due: python-safety-dependencies-check

fix(sia): :adhesive_bandage: Inclui `desfecho_data` como coluna com formato AAAAMMDD (#46)
  src/impulsoetl/siasus/raas_ps.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

fix(scnes): :ambulance: Remove colunas inexistentes na tabela.
  src/impulsoetl/scnes/vinculos.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

fix(egestor): :bug: Corrige função de extração dos relatórios de financiamento
  src/impulsoetl/egestor/relatorio_financiamento/extracao.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

fix(impulsoetl): :bug: Corrige erro na conversão de ID impulso em ID SUS (#47)
  src/impulsoetl/comum/geografias.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

chore(impulsoetl): :arrow_up: Atualiza pytest, cryptography e dependências em geral
  poetry.lock
  pyproject.toml
Due: python-safety-dependencies-check

Modelo de readme com conteúdo mínimo
  README.md
Due: none

Atualiza url do site de SM
  README.md
Due: none

Update README.md
  README.md
Due: none

Remove URL
  README.md
Due: none

Inclusão das operações de agendamento
  src/impulsoetl/egestor/relatorio_financiamento/carregamento.py
  src/impulsoetl/egestor/relatorio_financiamento/extracao.py
  src/impulsoetl/egestor/relatorio_financiamento/principal.py
  src/impulsoetl/egestor/relatorio_financiamento/tratamento.py
  src/impulsoetl/scripts/impulso_previne.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

Inclui ETL de Capitação Ponderada
  src/impulsoetl/egestor/relatorio_financiamento/carregamento.py
  src/impulsoetl/egestor/relatorio_financiamento/extracao.py
  src/impulsoetl/egestor/relatorio_financiamento/principal.py
  src/impulsoetl/egestor/relatorio_financiamento/tratamento.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

Inclui operação de captura de Capitação Ponderada
  src/impulsoetl/scripts/impulso_previne.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

Funções de extração e tratamento dos Relatórios de produção do SISAB
  src/impulsoetl/sisab/saude_producao/bloco_05_extracao.py
  src/impulsoetl/sisab/saude_producao/bloco_05_tratamento.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

feat: :sparkles: Adiciona ETL de relatórios de financiamento do e-Gestor (#43)
  .vscode/settings.json
  poetry.lock
  pyproject.toml
  src/impulsoetl/egestor/__init__.py
  src/impulsoetl/egestor/relatorio_financiamento/__init__.py
  src/impulsoetl/egestor/relatorio_financiamento/carregamento.py
  src/impulsoetl/egestor/relatorio_financiamento/extracao.py
  src/impulsoetl/egestor/relatorio_financiamento/principal.py
  src/impulsoetl/egestor/relatorio_financiamento/tratamento.py
  src/impulsoetl/egestor/relatorio_financiamento/verificacao.py
  src/impulsoetl/scripts/impulso_previne.py
Due: pyupgrade, pycln, isort, black, flake8, python-safety-dependencies-check, mypy, pytest, pytest-cov

fix(sih): :ambulance: Corrige nome da coluna `usuario_sexo_id_sihsus`
  src/impulsoetl/sihsus/aih_rd.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

docs: :memo: Remove dependências opcionais na instalação
  README.md
Due: none

Extração e tratamento p/ bloco 06 do painel
  src/impulsoetl/sisab/saude_producao/bloco_06_extracao.py
  src/impulsoetl/sisab/saude_producao/bloco_06_tratamento.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

chore(impulsoetl): :arrow_up: Atualiza versão do Python e do Prefect
  Dockerfile
  poetry.lock
  pyproject.toml
Due: python-safety-dependencies-check

feat(impulsoetl): :loud_sound: Adiciona suporte a logs do loguru no Prefect
  src/impulsoetl/loggers.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

refactor(impulsoetl): :label: Remove `from __future__ import annotations`
  implementar_fluxos.py
  src/impulsoetl/bd.py
  src/impulsoetl/comum/datas.py
  src/impulsoetl/comum/geografias.py
  src/impulsoetl/navegadores.py
  src/impulsoetl/sisab/comum.py
  src/impulsoetl/sisab/modelos.py
  src/impulsoetl/sisab/parametros_requisicao.py
  src/impulsoetl/utilitarios/datasus_ftp.py
  src/impulsoetl/utilitarios/repetidores.py
  src/impulsoetl/utilitarios/textos.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

refactor(impulsoetl): :boom: Implementa uso do Prefect nas tarefas e fluxos de ETL
  src/impulsoetl/brasilapi/cep.py
  src/impulsoetl/comum/condicoes_saude.py
  src/impulsoetl/principal.py
  src/impulsoetl/scnes/habilitacoes.py
  src/impulsoetl/scnes/vinculos.py
  src/impulsoetl/scripts/geral.py
  src/impulsoetl/scripts/impulso_previne.py
  src/impulsoetl/scripts/saude_mental.py
  src/impulsoetl/siasus/bpa_i.py
  src/impulsoetl/siasus/procedimentos.py
  src/impulsoetl/siasus/raas_ps.py
  src/impulsoetl/sihsus/aih_rd.py
  src/impulsoetl/sim/do.py
  src/impulsoetl/sinan/violencia.py
  src/impulsoetl/sisab/cadastros_individuais/carregamento.py
  src/impulsoetl/sisab/cadastros_individuais/extracao.py
  src/impulsoetl/sisab/cadastros_individuais/principal.py
  src/impulsoetl/sisab/cadastros_individuais/tratamento.py
  src/impulsoetl/sisab/cadastros_individuais/verificacao.py
  src/impulsoetl/sisab/indicadores_municipios/carregamento.py
  src/impulsoetl/sisab/indicadores_municipios/extracao.py
  src/impulsoetl/sisab/indicadores_municipios/principal.py
  src/impulsoetl/sisab/indicadores_municipios/tratamento.py
  src/impulsoetl/sisab/indicadores_municipios/verificacao.py
  src/impulsoetl/sisab/parametros_cadastro/carregamento.py
  src/impulsoetl/sisab/parametros_cadastro/extracao.py
  src/impulsoetl/sisab/parametros_cadastro/principal.py
  src/impulsoetl/sisab/parametros_cadastro/tratamento.py
  src/impulsoetl/sisab/parametros_cadastro/verificacao.py
  src/impulsoetl/sisab/producao.py
  src/impulsoetl/sisab/relatorio_validacao_producao/carregamento.py
  src/impulsoetl/sisab/relatorio_validacao_producao/extracao.py
  src/impulsoetl/sisab/relatorio_validacao_producao/principal.py
  src/impulsoetl/sisab/relatorio_validacao_producao/tratamento.py
  src/impulsoetl/sisab/relatorio_validacao_producao/verificacao.py
  src/impulsoetl/utilitarios/bd.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

test(impulsoetl): :white_check_mark: Refatora testes para usar a nova API com Prefect
  tests/brasilapi/teste_cep.py
  tests/comum/teste_condicoes_saude.py
  tests/comum/teste_datas.py
  tests/comum/teste_geografias.py
  tests/conftest.py
  tests/scnes/teste_habilitacoes.py
  tests/scnes/teste_vinculos.py
  tests/siasus/teste_bpa_i.py
  tests/siasus/teste_procedimentos.py
  tests/siasus/teste_raas_ps.py
  tests/sihsus/teste_aih_rd.py
  tests/sim/teste_do.py
  tests/sinan/teste_violencia.py
  tests/sisab/teste_comum.py
  tests/sisab/teste_producao.py
  tests/teste_principal.py
  tests/utilitarios/teste_bd.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

fix(sih): :seedling: Atualiza nomes de colunas
  tests/sihsus/aih_rd_transformada.parquet
Due: none

ci(impulsoetl): :construction_worker: Utiliza Prefect como única imagem e fluxo de CI
  .github/workflows/impulsoetl-publicar.yml
  .github/workflows/impulsoetl-rodar.yml
  Dockerfile
Due: none

chore: :bookmark: Aumenta versão para v0.2.0
  pyproject.toml
Due: python-safety-dependencies-check

refactor(egestor): :recycle: Adiciona suporte ao Prefect nos rel. de financiamento do eGestor
  src/impulsoetl/egestor/relatorio_financiamento/carregamento.py
  src/impulsoetl/egestor/relatorio_financiamento/extracao.py
  src/impulsoetl/egestor/relatorio_financiamento/principal.py
  src/impulsoetl/egestor/relatorio_financiamento/tratamento.py
  src/impulsoetl/egestor/relatorio_financiamento/verificacao.py
  src/impulsoetl/scripts/impulso_previne.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

fix(egestor): :ambulance: Remove importação de `__future__`
  src/impulsoetl/egestor/relatorio_financiamento/principal.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

fix(prefect): :boom: Muda API para internalizar Sessao aos scripts de ETL
  src/impulsoetl/scripts/geral.py
  src/impulsoetl/scripts/impulso_previne.py
  src/impulsoetl/scripts/saude_mental.py
  tests/scripts/teste_geral.py
  tests/scripts/teste_saude_mental.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

docs(prefect): :memo: Renomeia fluxos
  src/impulsoetl/scripts/geral.py
  src/impulsoetl/scripts/impulso_previne.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

refactor(prefect): :recycle: Ajusta implementação de fluxos no Prefect
  implementar_fluxos.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

ci(impulsoetl): :wrench: Evita publicação duplicada ao concluir PRs para a `main`
  .github/workflows/impulsoetl-publicar.yml
Due: none

Primeiros scripts para o ETL dos estabelecimentos
  src/impulsoetl/cnes/estabelecimentos_identificados/carregamento.py
  src/impulsoetl/cnes/estabelecimentos_identificados/extracao.py
  src/impulsoetl/cnes/estabelecimentos_identificados/principal.py
  src/impulsoetl/cnes/estabelecimentos_identificados/tratamento.py
  src/impulsoetl/cnes/estabelecimentos_identificados/verificacao.py
  src/impulsoetl/cnes/extracao_lista_cnes.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

primeiros scripts ETL egestor
  src/impulsoetl/cnes/estabelecimentos_horarios/extracao.py
  src/impulsoetl/cnes/estabelecimentos_horarios/tratamento.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

atualização dos scripts
  src/impulsoetl/cnes/__init__.py
  src/impulsoetl/cnes/estabelecimentos_horarios/__init__.py
  src/impulsoetl/cnes/estabelecimentos_horarios/extracao.py
  src/impulsoetl/cnes/estabelecimentos_horarios/tratamento.py
  src/impulsoetl/cnes/estabelecimentos_identificados/__init__.py
  src/impulsoetl/cnes/estabelecimentos_identificados/carregamento.py
  src/impulsoetl/cnes/estabelecimentos_identificados/extracao.py
  src/impulsoetl/cnes/estabelecimentos_identificados/principal.py
  src/impulsoetl/cnes/estabelecimentos_identificados/teste.py
  src/impulsoetl/cnes/estabelecimentos_identificados/tratamento.py
  src/impulsoetl/cnes/estabelecimentos_identificados/verificacao.py
  src/impulsoetl/cnes/extracao_lista_cnes.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov
