Repository ImpulsoGov/etl: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, pycln, isort, black, flake8, python-safety-dependencies-check, mypy, pytest, pytest-cov

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  language: system
  entry: poetry run pyupgrade
  minimum_pre_commit_version: 0.15.0

pycln:
  name: pycln
  description: A formatter for finding and removing unused import statements.
  language: system
  entry: poetry run pycln

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: poetry run isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: poetry run black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: poetry run flake8

python-safety-dependencies-check:
  name: safety
  description: Run safety on project packages.
  entry: bash -c 'poetry export -f requirements.txt | poetry run safety check --stdin'
  pass_filenames: false
  language: system

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: poetry run mypy
  require_serial: true

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: poetry run pytest
  pass_filenames: false
  args:
  - --testmon

pytest-cov:
  name: pytest
  stages:
  - push
  language: system
  entry: poetry run pytest --cov --cov-fail-under=70
  pass_filenames: false

test(impulsoetl): :white_check_mark: Corrigir testes para usar dicionário em vez de DataFrame.
  src/impulsoetl/brasilapi/cep.py
  tests/brasilapi/teste_cep.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

test(impulsoetl): :white_check_mark: Truncar registros de BPA durante testes
  src/impulsoetl/siasus/bpa_i.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

ci(impulsoetl): :adhesive_bandage: Remover vírgulas indevidas
  .github/workflows/impulsoetl-publicar.yml
Due: none

ci(impulsoprevine): :adhesive_bandage: Remover vírgulas indevidas
  .github/workflows/impulsoprevine-publicar.yml
Due: none

fix(impulsoetl): :adhesive_bandage: Listar script de captura de procedimentos ambulatoriais para execução
  src/impulsoetl/scripts/saude_mental.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

refactor(impulsoetl): :recycle: Atualizar mecanismo legado de agendamento de capturas
  pyproject.toml
  src/impulsoetl/comum/capturas.py
  src/impulsoetl/scripts/saude_mental.py
  src/impulsoetl/sisab/producao.py
  tests/comum/teste_capturas.py
Due: pyupgrade, pycln, isort, black, flake8, python-safety-dependencies-check, mypy, pytest, pytest-cov

Modelo de ETL para cadastros do SISAB
  src/impulsoetl/sisab/cadastros_individuais/carregamento.py
  src/impulsoetl/sisab/cadastros_individuais/tratamento.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

ci(impulsoetl): :construction_worker: Desativa a execução automática dos scripts de ETL após mudanças no código-fonte
  .github/workflows/impulsoetl-rodar.yml
Due: none

revert(impulsoetl): :heavy_minus_sign: Excluir GDAL das dependências no arquivo pyproject.toml.
  pyproject.toml
Due: python-safety-dependencies-check

feat(impulsoetl): :construction: Adiciona esqueleto para os scripts de captura do Impulso Previne
  src/impulsoetl/principal.py
  src/impulsoetl/scripts/impulso_previne.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

criacao do repositório
  src/impulsoetl/sisab/relatorio_validacao/carga.py
  src/impulsoetl/sisab/relatorio_validacao/sup.py
  src/impulsoetl/sisab/relatorio_validacao/tratamento.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

criação do diretório cadastros do Sisab
  src/impulsoetl/sisab/cadastros_individuais/extracao.py
  src/impulsoetl/sisab/cadastros_individuais/parametros_requisicao.py
  src/impulsoetl/sisab/cadastros_individuais/tratamento.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

update 20220316
  src/impulsoetl/sisab/relatorio_validacao/tratamento.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

tabela pronta
  src/impulsoetl/sisab/relatorio_validacao/tratamento.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

código de extração implementado
  src/impulsoetl/sisab/relatorio_validacao/extracao.py
  src/impulsoetl/sisab/relatorio_validacao/tratamento.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

ETL cadastro equipes válidas (WIP)
  src/impulsoetl/sisab/cadastros_individuais/carregamento.py
  src/impulsoetl/sisab/cadastros_individuais/extracao.py
  src/impulsoetl/sisab/cadastros_individuais/modelos.py
  src/impulsoetl/sisab/cadastros_individuais/tratamento.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

ETL cadastro equipes válidas (WIP)
  src/impulsoetl/sisab/cadastros_individuais/__init__.py
  src/impulsoetl/sisab/cadastros_individuais/tratamento.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

Return adicionado (WIP)
  src/impulsoetl/sisab/cadastros_individuais/carregamento.py
  src/impulsoetl/sisab/cadastros_individuais/extracao.py
  src/impulsoetl/sisab/cadastros_individuais/tratamento.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

código de transformação concluído
  src/impulsoetl/sisab/relatorio_validacao/extracao.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

Script de agendamento incluido
  src/impulsoetl/scripts/impulso_previne.py
  src/impulsoetl/sisab/cadastros_individuais/extracao.py
  src/impulsoetl/sisab/cadastros_individuais/tratamento.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

unificação de scripts
  src/impulsoetl/sisab/relatorio_validacao/carga.py
  src/impulsoetl/sisab/relatorio_validacao/extracao.py
  src/impulsoetl/sisab/relatorio_validacao/tratamento.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

ci: :construction_worker: Limitar publicação do dockerfile em pull requests apenas aos PRs aceitos
  .github/workflows/impulsoetl-publicar.yml
  .github/workflows/impulsoprevine-publicar.yml
Due: none

docs: :memo: Atualizar e complementar instruções de instalação e execução
  README.md
Due: none

capsula poetry
  pyproject.toml
  src/impulsoetl/comum/geografias.py
  src/impulsoetl/sisab/relatorio_validacao/.gitignore
  src/impulsoetl/sisab/relatorio_validacao/extracao.py
Due: pyupgrade, pycln, isort, black, flake8, python-safety-dependencies-check, mypy, pytest, pytest-cov

agendamento e carga
  .gitignore
  .vscode/settings.json
  pyproject.toml
  src/impulsoetl/sisab/relatorio_validacao/.gitignore
  src/impulsoetl/sisab/relatorio_validacao/carga.py
  src/impulsoetl/sisab/relatorio_validacao/extracao.py
  src/impulsoetl/sisab/relatorio_validacao/suporte_extracao.py
Due: pyupgrade, pycln, isort, black, flake8, python-safety-dependencies-check, mypy, pytest, pytest-cov

loop
  src/impulsoetl/sisab/relatorio_validacao/Untitled.ipynb
  src/impulsoetl/sisab/relatorio_validacao/Untitled1.ipynb
  src/impulsoetl/sisab/relatorio_validacao/Untitled2.ipynb
  src/impulsoetl/sisab/relatorio_validacao/extracao.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

Correção do parâmetro periodo
  src/impulsoetl/sisab/cadastros_individuais/carregamento.py
  src/impulsoetl/sisab/cadastros_individuais/extracao.py
  src/impulsoetl/sisab/cadastros_individuais/modelos.py
  src/impulsoetl/sisab/cadastros_individuais/tratamento.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

script limpo
  src/impulsoetl/sisab/relatorio_validacao/Untitled.ipynb
  src/impulsoetl/sisab/relatorio_validacao/Untitled1.ipynb
Due: none

correcao git
  src/impulsoetl/sisab/relatorio_validacao/.gitignore
Due: none

novas funcoes
  .vscode/settings.json
  src/impulsoetl/sisab/relatorio_validacao/carga.py
  src/impulsoetl/sisab/relatorio_validacao/extracao.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

gitignore
  src/impulsoetl/sisab/relatorio_validacao/.gitignore
Due: none

Script final sem modulos
  src/impulsoetl/sisab/relatorio_validacao/Untitled2.ipynb
  src/impulsoetl/sisab/relatorio_validacao/carga.py
  src/impulsoetl/sisab/relatorio_validacao/etl_validacao.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

script final sem módulos
  src/impulsoetl/sisab/relatorio_validacao/etl_validacao.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

Inclui extração do período código via tabela periodos
  src/impulsoetl/scripts/impulso_previne.py
  src/impulsoetl/sisab/cadastros_individuais/carregamento.py
  src/impulsoetl/sisab/cadastros_individuais/extracao.py
  src/impulsoetl/sisab/cadastros_individuais/modelos.py
  src/impulsoetl/sisab/cadastros_individuais/principal.py
  src/impulsoetl/sisab/cadastros_individuais/tratamento.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

Alterações no arquivo __init__
  src/impulsoetl/sisab/__init__.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

Rotina de validação incluso
  src/impulsoetl/sisab/cadastros_individuais/principal.py
  src/impulsoetl/sisab/cadastros_individuais/teste_validacao.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

Alteração do modelo de tabelas e ajustes
  src/impulsoetl/sisab/__init__.py
  src/impulsoetl/sisab/cadastros_individuais/extracao.py
  src/impulsoetl/sisab/cadastros_individuais/modelos.py
  src/impulsoetl/sisab/cadastros_individuais/tratamento.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

docs(impulsoetl): :rotating_light: Adicionar notas de licença
  .reuse/dep5
  src/impulsoetl/sisab/cadastros_individuais/carregamento.py
  src/impulsoetl/sisab/cadastros_individuais/extracao.py
  src/impulsoetl/sisab/cadastros_individuais/parametros_requisicao.py
  src/impulsoetl/sisab/cadastros_individuais/principal.py
  src/impulsoetl/sisab/cadastros_individuais/teste_validacao.py
  src/impulsoetl/sisab/cadastros_individuais/tratamento.py
Due: pyupgrade, pycln, isort, black, flake8, mypy, pytest, pytest-cov

Path conditions:
  pyupgrade: any of: \.py$, but not: LICENSES|CODE_OF_CONDUCT
  pycln: any of: \.py$ and not (\.venv) and not (LICENSES|CODE_OF_CONDUCT)
  isort: any of: \.py$, but not: LICENSES|CODE_OF_CONDUCT
  black: any of: \.py$, but not: LICENSES|CODE_OF_CONDUCT
  flake8: any of: \.py$ and not (setup.py) and not (LICENSES|CODE_OF_CONDUCT)
  python-safety-dependencies-check: any of: requirements|poetry\.lock|pyproject, but not: LICENSES|CODE_OF_CONDUCT
  mypy: any of: \.py$, but not: LICENSES|CODE_OF_CONDUCT
  pytest: any of: \.py$, but not: LICENSES|CODE_OF_CONDUCT
  pytest-cov: any of: \.py$, but not: LICENSES|CODE_OF_CONDUCT
